body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

textarea{
    width: 100%;
    height:100%;
    border:None;
    font-size: 17px;

}
textarea:focus{
    outline: none;
}

#container{
    border: 1px solid #ddd;
    width: 80%;
    height:500px;
    display: flex;
    gap:-10px;
    margin: auto;

}

#container > div:first-child{
    width:50px;
    height: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
}

#lines_div > div{
    background-color: #dcdcdc;
    font-weight: bold;
}

#container > div:last-child{
    flex:1;
}

.btn{
    padding:10px 20px;
    margin: 20px;
    font-weight: bolder;
    border: 1px solid grey;
    border-radius: 3px;
}

::placeholder{
    color: lightgray;
}

#res_container{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;

    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

}

#res_container.show_res_container{
    opacity: 1;
    z-index: 1;
    animation: zoom-in-zoom-out .1s ease;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0, 0);
    }
    50%{
        transform: scale(.5 , .5);
    }
    100% {
      transform: scale(1, 1);
    }

  }

#output{
    width: 350px;
    height:180px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

#res_container span{
    position: absolute;
    top:35%;
    right:36.5%;
    width: 35px;
    height:35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background-color:#ededed; */
    color:#fff;
    font-weight: bold;
    padding:6PX;
}

#res_container span > img{
    border-radius: 50%;
}

button{
    cursor: pointer;
}